[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"] }
requests = "*"
pandas = "*"
numpy = "*"
tqdm = "*"
pycountry = "*"
openai = "*"
langchain = "*"
ipykernel = "*"
swig = "*"

[dev-packages]

[requires]
python_version = "3.11"
